<%= form_for :casestudy_overview, :url => {:controller => 'casestudiesitems', :action => 'add_overview', :post => 'post'}, :remote => true do |f| %>
<%= f.hidden_field :case_study_id, value: params[:id] %>
<div class="panel panel-default">
  <div class="panel-heading"><strong><%= t('casestudies_overview') %></strong></div>
  <div class="panel-body">
    <fieldset>
      <div class="form-group">
        <%= f.text_field :title, class: 'form-control', placeholder: t('title') %>
      </div>
      <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
    </fieldset>
  </div>
</div>
<% end %>

<div id="cso-list">
  <%= render partial: 'casestudies/overviews_list', locals: { cs_overviews: @cs_overviews } %>
</div>