<%= form_for :casestudy_solution, :url => {:controller => 'casestudiesitems', :action => 'add_solution', :post => 'post'}, :remote => true do |f| %>
<%= f.hidden_field :case_study_id, value: params[:id] %>
<div class="panel panel-default">
  <div class="panel-heading"><strong><%= t('casestudies_solution') %></strong></div>
  <div class="panel-body">
    <fieldset>
      <div class="form-group">
        <%= f.text_field :title, class: 'form-control', placeholder: t('title') %>
      </div>
      <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
    </fieldset>
  </div>
</div>
<% end %>

<div id="css-list">
  <%= render partial: 'casestudies/solutions_list', locals: { cs_solutions: @cs_solutions } %>
</div>