<% provide(:title, t('breadcrumbs.edit')) %>
<h1><%= t('breadcrumbs.edit') %></h1>

<div class="row">
  <div class="span6 offset3">
    <div class="col-md-6" id="estimate_details">
      <div class="panel panel-default">
        <div class="panel-heading"><strong><%= t('details') %></strong></div>
        <div class="panel-body">
          <%= form_for @casestudy, multipart: true, :remote => true do |f| %>
          <%= hidden_field_tag :page, (params.has_key?(:page) && params[:page] != '' ? params[:page] : "1") %>
            <fieldset>
              <div class="form-group<%= f.object.errors[:title].any? ? ' has-error has-feedback' : '' %>">
                <%= f.text_field :title, class: 'form-control', placeholder: t('client'), autofocus: true %>
              </div>
              <div class="form-group<%= f.object.errors[:project_id].any? ? ' has-error has-feedback' : '' %>">
                <%= f.collection_select :project_id, @projects, :id, :title, {:include_blank => t('dashes') + ' ' + t('project')}, {:class => 'form-control'} %>
              </div>
              <div class="form-group">
                <div class="input-group casestudy-style">
                  <%= f.text_field :text_color, class: 'form-control', placeholder: t('style') %>
                  <span class="input-group-addon"><i></i></span>
                </div>
                <script>
                  $(function(){
                    $('.casestudy-style').colorpicker();
                  });
                </script>
              </div>
              <div class="form-group">
                <%= f.text_area :description, class: 'form-control', rows: '5', placeholder: t('description')  %>
              </div>
              <div class="form-group">
                <%= file_field_tag :header_image, class: "filestyle", data: { :buttonText => t('upload_file') } %>
              </div>
              <%= f.submit t('button_save_changes'), class: "btn btn-primary" %>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="span6 offset3">
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading"><strong><%= t('casestudy_ratio') %></strong></div>
        <div class="panel-body">
          <%= pie_chart(@casestudy_ratio, library: { is3D: true, chartArea: {width: '100%', height: '100%'} }) %>
        </div>
      </div>

    </div>
  </div>
</div>

<%= button_to export_casestudy_pdf_path, :method => 'get', class: "btn btn-lg btn-warning btn-block" do %>
  <%= hidden_field_tag :case_study_id, @casestudy.id %>
  <%= hidden_field_tag :regenerate, true %>
  <%= t('export_pdf') %>
<% end %>

<br />

<div class="panel panel-default">
  <div class="panel-heading"><strong><%= t('header_image') %></strong></div>
  <div class="panel-body" align="center">
    <img src="<%= @casestudy.header_image.nil? ? '/images/spacer.png' : '/casestudies/' + @casestudy.header_image %>" id="headerimage-preview" />
  </div>
</div>

<div class="panel with-nav-tabs panel-primary">
  <div class="panel-heading">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#sh1" data-toggle="tab"><%= t('casestudies_overviews') %></a></li>
      <li><a href="#sh2" data-toggle="tab"><%= t('casestudies_challenges') %></a></li>
      <li><a href="#sh3" data-toggle="tab"><%= t('casestudies_solutions') %></a></li>
      <li><a href="#sh4" data-toggle="tab"><%= t('casestudies_technologies') %></a></li>
      <li><a href="#sh5" data-toggle="tab"><%= t('casestudies_links') %></a></li>
    </ul>
  </div>
  <div class="panel-body">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="sh1"><%= render partial: 'casestudies/overviews' %></div>
      <div class="tab-pane" id="sh2"><%= render partial: 'casestudies/challenges' %></div>
      <div class="tab-pane" id="sh3"><%= render partial: 'casestudies/solutions' %></div>
      <div class="tab-pane" id="sh4"><%= render partial: 'casestudies/technologies' %></div>
      <div class="tab-pane" id="sh5"><%= render partial: 'casestudies/links' %></div>
    </div>
  </div>
</div>