<% provide(:title, t('case_studies')) %>
<h1><%= t('case_studies') %></h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group">

      <div class="input-group-btn">
        <button type="button" class="btn btn-primary" aria-label="Left Align">
          <a class="btn-primary" data-toggle="modal" data-target="#wmodal0"><%= t('create_casestudy') %></a>
        </button>
      </div>

      <div class="form-group">
        <%= form_for_filterrific @filterrific do |f| %>
          <%= f.text_field(:search_query, class: 'form-control filterrific-periodically-observed', placeholder: t('search')) %>
        <% end %>
      </div>

    </div>
  </div>
  <div id="casestudies-list">
    <%= render partial: 'casestudies/list', locals: { casestudies: @casestudies } %>
  </div>
</div>

<div class="center"><%= will_paginate @casestudies, :renderer => BootstrapPagination::Rails, :remote => true %></div>

<!-- Modal -->
<div class="modal fade" id="wmodal0" tabindex="-1" role="dialog" aria-labelledby="wmodal0_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for @casestudy, :remote => true do |f| %>
      <%= hidden_field_tag :page, (params.has_key?(:page) && params[:page] != '' ? params[:page] : "1") %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="wmodal0_title"><%= t('case_study') %></h4>
      </div>
      <div class="modal-body">
        <fieldset>
          <div class="form-group<%= f.object.errors[:title].any? ? ' has-error has-feedback' : '' %>">
            <%= f.text_field :title, class: 'form-control', placeholder: t('title'), autofocus: true %>
          </div>
          <div class="form-group<%= f.object.errors[:project_id].any? ? ' has-error has-feedback' : '' %>">
            <%= f.collection_select :project_id, @projects, :id, :title, {:include_blank => t('dashes') + ' ' + t('project')}, {:class => 'form-control'} %>
          </div>
          <div class="form-group">
            <div class="input-group technology_style">
              <%= f.text_field :text_color, class: 'form-control', placeholder: t('style') %>
              <span class="input-group-addon"><i></i></span>
            </div>
            <script>
              $(function(){
                $('.technology_style').colorpicker();
              });
            </script>
          </div>
          <div class="form-group">
            <%= f.text_area :description, class: 'form-control', rows: '5', placeholder: t('description')  %>
          </div>
        </fieldset>
      </div>
      <div class="modal-footer">
        <button id="closebtn_0" type="button" class="btn btn-default" data-dismiss="modal" style="visibility: hidden"></button>
        <br />
        <%= f.submit t('button_save_changes'), class: "btn btn-primary" %>
      </div>
      <% end %>

    </div>
  </div>
</div> <!-- / Modal -->