<div class="row">
  <div class="span6 offset3">
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <strong><%= t('projects_per_clients') %></strong>
        </div>
        <div class="panel-body">
          <%
          stats = ActiveRecord::Base.connection.execute("SELECT c.title AS client, COUNT(p.id) AS projects FROM clients AS c INNER JOIN projects AS p ON p.client_id = c.id GROUP BY c.id ORDER BY p.created_date DESC LIMIT 0, 10")
          %>
          <%= pie_chart stats %>
        </div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <strong><%= t('estimates_per_clients') %></strong>
        </div>
        <div class="panel-body">
          <%
          stats = ActiveRecord::Base.connection.execute("SELECT c.title AS client, COUNT(e.id) AS estimates FROM clients AS c INNER JOIN projects AS p ON p.client_id = c.id INNER JOIN estimates AS e ON e.project_id = p.id GROUP BY c.id ORDER BY e.created_date DESC LIMIT 0, 10")
          %>
          <%= pie_chart stats %>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="span6 offset3">
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <strong><%= t('technologies_per_projects') %></strong>
        </div>
        <div class="panel-body">
          <%
          stats = ActiveRecord::Base.connection.execute("SELECT t.title AS technology, COUNT(DISTINCT pt.project_id) AS projects FROM projects_technologies AS pt INNER JOIN technologies AS t ON t.id = pt.technology_id GROUP BY t.title ORDER BY t.title")
          %>
          <%= pie_chart stats %>
        </div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <strong><%= t('technologies_per_users') %></strong>
        </div>
        <div class="panel-body">
          <%
          stats = ActiveRecord::Base.connection.execute("SELECT t.title, count(u.id) FROM technologies AS t INNER JOIN users AS u ON u.technology_id = t.id GROUP BY t.id ORDER BY t.title")
          %>
          <%= pie_chart stats %>
        </div>
      </div>

    </div>
  </div>
</div>