<div class="row">
  <div class="span6 offset3">
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading"><strong><%= t('projects_per_clients') %></strong></div>
        <div class="panel-body"><%= pie_chart @stats_projects_per_clients %></div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading"><strong><%= t('estimates_per_clients') %></strong></div>
        <div class="panel-body"><%= pie_chart @estimates_per_clients %></div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="span6 offset3">
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading"><strong><%= t('technologies_per_projects') %></strong></div>
        <div class="panel-body"><%= pie_chart @technologies_per_projects %></div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading"><strong><%= t('technologies_per_users') %></strong></div>
        <div class="panel-body"><%= pie_chart @technologies_per_users %></div>
      </div>

    </div>
  </div>
</div>