      <% @users_months.each do |month, item| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <strong><%= month.strftime('%B, %Y') %></strong>
        </div>
        <div class="panel-body">
          <% for user in item %>
            <strong><%= link_to user.full_name, user %></strong>
            - <%= l(user.created_date, format: :shorter) %>
            (<span style="color: <%= Technology.find(user.technology_id).style %>"><%= Technology.find(user.technology_id).title %></span>)
            <br />
          <% end %>
        </div>
      </div>
      <% end %>
