<div class="panel panel-default">
  <div class="panel-heading"><strong><%= t('rename') %></strong></div>
  <div class="panel-body">
    <%= form_for :estimatessheet, :url => estimatessheet_path, :method => 'put', :id => sheet.id, :remote => true do |f| %>
    <%= f.hidden_field :estimates_sheet_id, value: sheet.id %>
    <fieldset>
      <div class="form-group">
        <%= f.text_field :title, class: 'form-control', placeholder: t('title'), autofocus: true, value: sheet.title %>
      </div>
      <div class="form-group">
        <%= f.submit t('button_save_changes'), class: "btn btn-primary" %>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>

<%= button_to estimatessheet_path(sheet), method: :delete, data: { confirm: t('delete_confirm') }, class: "btn btn-lg btn-danger btn-block", :remote => true  do %>
  <%= hidden_field "estimatessheet", :estimate_id, value: sheet.estimate_id %>
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <%= t('delete_sheet') %>
<% end %>
<br />

<div class="row">
  <div class="span6 offset3">
    <div class="col-md-6">
      <%= form_for :estimate_section, :url => estimatessection_index_path, :remote => true do |f| %>
      <%= f.hidden_field :estimate_id, value: params[:id] %>
      <%= f.hidden_field :estimates_sheet_id, value: sheet.id %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong><%= t('section') %></strong></div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <%= f.text_area :title, class: 'form-control', placeholder: t('title'), autofocus: true, rows: 12 %>
            </div>
            <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
          </fieldset>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="span6 offset3">
    <div class="col-md-6" id="esheet-line">
      <%= render partial: 'estimatessheet/line', locals: { sheet: sheet } %>
    </div>
  </div>
</div>

<br />

<div id="grid-estimatesections">
  <%= render partial: 'estimatessection/sections', locals: { estimatessection: @estimatessection, sheet: sheet } %>
</div>