<%= button_to estimatessheet_path(sheet), method: :delete, data: { confirm: t('delete_confirm') }, class: "btn btn-lg btn-danger btn-block", :remote => true  do %>
  <%= hidden_field "estimatessheet", :estimate_id, value: sheet.estimate_id %>
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <%= t('delete_sheet') %>
<% end %>
<br />

<div class="row">
  <div class="span6 offset3">
    <div class="col-md-6">
      <%= form_for :estimate_section, :url => estimatessection_index_path, :remote => true do |f| %>
      <%= f.hidden_field :estimate_id, value: params[:id] %>
      <%= f.hidden_field :estimates_sheet_id, value: sheet.id %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong><%= t('section') %></strong></div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <%= f.text_area :title, class: 'form-control', placeholder: t('title'), autofocus: true, rows: 12 %>
            </div>
            <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
          </fieldset>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="span6 offset3">
    <div class="col-md-6">
      <%= form_for :estimate_line, :url => estimatesline_index_path, :remote => true do |f| %>
      <%= f.hidden_field :estimate_id, value: params[:id] %>
      <%= f.hidden_field :estimates_sheet_id, value: sheet.id %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong><%= t('line') %></strong></div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <%= f.collection_select :estimates_sections_id, @estimatessection.where(:estimates_sheet_id => sheet.id), :id, :title, {}, {:class => 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.select :technology_id, options_for_select(Technology.order("title ASC").collect { |tech| [tech.title, tech.id] }, 0), {}, {id: 'lines_technologies_select_0', :class => 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.select :position_id, options_for_select(@positions.where(:technology_id => Technology.order("title ASC").first.id).collect { |pos| [pos.title, pos.id] }, 0), {}, { id: 'lines_positions_select_0', :class => 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.autocomplete_field :line, autocomplete_estimatesline_line_estimatesline_index_path(:format => :json), class: 'form-control', placeholder: t('line'), autofocus: true, :id => 'ac_estimate_line_' + sheet.id.to_s %>
            </div>
            <div class="form-group">
              <%= f.number_field :hours_min, class: 'form-control', placeholder: t('hours_min'), :id => 'estimate_line_hours_min_' + sheet.id.to_s %>
            </div>
            <div class="form-group">
              <%= f.number_field :hours_max, class: 'form-control', placeholder: t('hours_max'), :id => 'estimate_line_hours_max_' + sheet.id.to_s %>
            </div>
            <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
          </fieldset>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<br />

<div id="grid-estimatesections">
  <%= render partial: 'estimatessection/sections', locals: { estimatessection: @estimatessection, sheet: sheet } %>
</div>