<div class="panel with-nav-tabs panel-primary">
  <div class="panel-heading">
    <ul class="nav nav-tabs">

      <% @estimates_sheets.each do |panel| %>
        <li<%= panel == @estimates_sheets.first ? " class='active'".html_safe : "" %>>
          <a href="#sh<%= panel.id %>" data-toggle="tab"><%= panel.title %></a>
        </li>
      <% end %>

    </ul>
  </div>
  <div class="panel-body">
    <div class="tab-content">
      <% @estimates_sheets.each do |sheet| %>
      <div class="tab-pane<%= sheet == @estimates_sheets.first ? "  fade in active".html_safe : "" %>" id="sh<%= sheet.id %>">
        <%= render partial: 'estimatessheet/sheet', locals: { sheet: sheet } %>
      </div>
      <% end %>
    </div>
  </div>
</div>