      <%= form_for(@estimate, remote: true) do |f| %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong><%= t('details') %></strong></div>
        <div class="panel-body">
          <div id="estimates_edit_errors">
            <%= render 'shared/flash_messages', object: f.object %>
          </div>
          <fieldset>
            <div class="form-group<%= f.object.errors[:title].any? ? ' has-error has-feedback' : '' %>">
              <%= f.text_field :title, class: 'form-control', placeholder: t('title'), autofocus: true %>
            </div>
            <div class="form-group<%= f.object.errors[:client_id].any? ? ' has-error has-feedback' : '' %>">
              <%= f.collection_select :client_id, @clients, :id, :title, {}, {:class => 'form-control'} %>
            </div>
            <div class="form-group<%= f.object.errors[:project_id].any? ? ' has-error has-feedback' : '' %>">
              <%= f.collection_select :project_id, @projects, :id, :title, {}, {:class => 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.collection_select :owner_user_id, @users, :id, :full_name, {}, {:class => 'form-control'} %>
            </div>
            <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
          </fieldset>
        </div>
      </div>
      <% end %>