<% provide(:title, t('breadcrumbs.edit')) %>
<h1><%= @estimate.title %></h1>

<div class="row">
  <div class="span6 offset3">
    <div class="col-md-6" id="estimate_details">
      <%= render 'estimates/edit_details', :locals => { :estimate => @estimate } %>
    </div>
  </div>
  <div class="span6 offset3">
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading"><strong><%= t('estimate_technology_complexity') %></strong></div>
        <div class="panel-body">
          <%= pie_chart(@estimate_technology_complexity, library: { is3D: true, chartArea: {width: '100%', height: '100%'} }) %>
        </div>
      </div>

    </div>
  </div>
</div>

<!--
<div class="row">
  <div class="container-fluid">

    <div class="panel panel-primary">
      <div class="panel-heading"><strong><%= t('estimate_hours_min_max') %></strong></div>
      <div class="panel-body">
        <%= bar_chart [
          {name: t('hours_min'), data: @chart_hours_min},
          {name: t('hours_max'), data: @chart_hours_max}
        ] %>
      </div>
    </div>

  </div>
</div>
-->

<div class="row">
  <div class="span6 offset3">
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading"><strong><%= t('estimate_technologies_percent_min') %></strong></div>
        <div class="panel-body">
          <%= pie_chart(@estimate_technologies_percent_min, library: { is3D: true, chartArea: {width: '100%', height: '100%'} }) %>
        </div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading"><strong><%= t('estimate_technologies_percent_max') %></strong></div>
        <div class="panel-body">
          <%= pie_chart(@estimate_technologies_percent_max, library: { is3D: true, chartArea: {width: '100%', height: '100%'} }) %>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render 'estimatesassumption/create' %>

<div class="panel panel-default">
  <div class="panel-heading"><strong><%= t('estimate_assumption') %></strong></div>
  <div id="grid-estimateassumption">
    <%= render partial: 'estimatesassumption/lines' %>
  </div>
</div>

<br />

<%= form_for :estimatessheet, :url => estimatessheet_index_path, :remote => true do |f| %>
<%= f.hidden_field :estimate_id, value: params[:id] %>
<div class="panel panel-default">
  <div class="panel-heading"><strong><%= t('estimate_sheet') %></strong></div>
  <div class="panel-body">
    <fieldset>
      <div class="form-group">
        <%= f.text_field :title, class: 'form-control', placeholder: t('title') %>
      </div>
      <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
    </fieldset>
  </div>
</div>
<% end %>

<div id="pnl-sheets">
  <%= render partial: 'estimatessheet/sheets' %>
</div>