<% provide(:title, t('edit')) %>
<h1><%= t('edit') %></h1>

<div class="row">
  <div class="span6 offset3">
    <div class="col-md-6">
      <%= form_for(@estimate, remote: true) do |f| %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong><%= t('details') %></strong></div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <%= f.text_field :title, class: 'form-control', placeholder: t('title'), autofocus: true %>
            </div>
            <div class="form-group">
              <%= f.collection_select :client_id, @clients, :id, :title, {}, {:class => 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.collection_select :project_id, @projects, :id, :title, {}, {:class => 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.collection_select :owner_user_id, @users, :id, :full_name, {}, {:class => 'form-control'} %>
            </div>
            <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
          </fieldset>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="span6 offset3">
    <div class="col-md-6">
      <%= form_for :estimate_assumption, :url => estimatesassumption_index_path do |f| %>
      <%= f.hidden_field :estimate_id, value: params[:id] %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong><%= t('assumption') %></strong></div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <%= f.text_area :title, class: 'form-control', placeholder: t('title'), autofocus: true, rows: 8 %>
            </div>
            <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
          </fieldset>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="container-fluid">

    <div class="panel panel-primary">
      <div class="panel-heading"><strong><%= t('estimate_hours_min_max') %></strong></div>
      <div class="panel-body">
        <%= bar_chart [
          {name: t('hours_min'), data: @chart_hours_min},
          {name: t('hours_max'), data: @chart_hours_max}
        ] %>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="span6 offset3">
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading"><strong><%= t('estimate_technologies_percent_min') %></strong></div>
        <div class="panel-body">
          <%= pie_chart(@estimate_technologies_percent_min, library: { is3D: true, chartArea: {width: '100%', height: '100%'} }) %>
        </div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading"><strong><%= t('estimate_technologies_percent_max') %></strong></div>
        <div class="panel-body">
          <%= pie_chart(@estimate_technologies_percent_max, library: { is3D: true, chartArea: {width: '100%', height: '100%'} }) %>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong><%= t('estimate_assumption') %></strong></div>
  <div id="grid-estimateassumption">
    <%= render partial: 'estimatesassumption/lines', locals: { estimatesassumption: @estimatesassumption } %>
  </div>
</div>

<br />

<%= form_for :estimatessheet, :url => estimatessheet_index_path do |f| %>
<%= f.hidden_field :estimate_id, value: params[:id] %>
<div class="panel panel-default">
  <div class="panel-heading"><strong><%= t('estimate_sheet') %></strong></div>
  <div class="panel-body">
    <fieldset>
      <div class="form-group">
        <%= f.text_field :title, class: 'form-control', placeholder: t('title') %>
      </div>
      <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
    </fieldset>
  </div>
</div>
<% end %>

<div class="panel with-nav-tabs panel-primary">
  <div class="panel-heading">
    <ul class="nav nav-tabs">
      <% @estimates_sheets.each do |panel| %>
        <li<%= panel == @estimates_sheets.first ? " class='active'".html_safe : "" %>><a href="#sh<%= panel.id %>" data-toggle="tab"><%= panel.title %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="panel-body">
    <div class="tab-content">

      <% @estimates_sheets.each do |sheet| %>
      <div class="tab-pane<%= sheet == @estimates_sheets.first ? "  fade in active".html_safe : "" %>" id="sh<%= sheet.id %>">
        <%= render partial: 'estimates/sheet', locals: { sheet: sheet } %>
      </div>
      <% end %>

    </div>
  </div>
</div>