<% provide(:title, t('estimates')) %>
<h1><%= t('estimates') %></h1>

<div class="panel panel-default">
  <div class="panel-heading">

    <%= form_tag :url => estimates_path do |f| %>
    <div class="input-group">

      <div class="input-group-btn">
        <button type="button" class="btn btn-primary" aria-label="Left Align">
          <%= link_to t('create_estimate'), new_estimate_path, :class => "btn-primary" %>
        </button>
      </div>

      <%= autocomplete_field 'ac_search_estimate', '', autocomplete_estimate_title_estimates_path(:format => :json), { class: 'form-control', autofocus: true, placeholder: t('search') } %>

      <div class="input-group-btn">
        <button type="button" class="btn btn-primary">
          <%= link_to t('import_estimate'), new_estimate_importer_path, :class => "btn-primary" %>
        </button>
      </div>

    </div>
    <% end %>

  </div>
  <div id="estimates-list">
    <%= render partial: 'estimates/list', locals: { estimates: @estimates } %>
  </div>
</div>

<%= will_paginate @estimates, :renderer => BootstrapPagination::Rails %>