<% provide(:title, t('breadcrumbs.new')) %>
<h1><%= t('breadcrumbs.new') %></h1>

<%= form_for(@estimate) do |f| %>
<div class="row">
  <div class="span6 offset3">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading"><strong><%= t('details') %></strong></div>
        <div class="panel-body">
          <%= render 'shared/flash_messages', object: f.object %>
          <fieldset>
            <div class="form-group<%= f.object.errors[:title].any? ? ' has-error has-feedback' : '' %>">
              <%= f.text_field :title, class: 'form-control', placeholder: t('title'), autofocus: true %>
            </div>
            <div class="form-group<%= f.object.errors[:client_id].any? ? ' has-error has-feedback' : '' %>">
              <%= f.collection_select :client_id, @clients, :id, :title, {:include_blank => t('dashes') + ' ' + t('client')}, {:class => 'form-control'} %>
            </div>
            <div class="form-group<%= f.object.errors[:project_id].any? ? ' has-error has-feedback' : '' %>">
              <%= f.collection_select :project_id, @projects, :id, :title, {:include_blank => t('dashes') + ' ' + t('project')}, {:class => 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.collection_select :owner_user_id, @users, :id, :full_name, {:selected => (params[:estimate] == nil || params[:estimate][:owner_user_id] == nil ? @current_user.id : params[:estimate][:owner_user_id])}, {:class => 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.collection_select :rate_id, @rates, :id, :title, {}, {:class => 'form-control'} %>
            </div>
            <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>