<% provide(:title, t('breadcrumbs.new')) %>
<h1><%= t('breadcrumbs.new') %></h1>

<%= form_for(@project_status) do |f| %>
<div class="row">
  <div class="span6 offset3">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-body">
          <%= render 'shared/flash_messages', object: f.object %>
          <fieldset>
            <div class="form-group<%= f.object.errors[:title].any? ? ' has-error has-feedback' : '' %>">
              <%= f.text_field :title, class: 'form-control', placeholder: t('status'), autofocus: true %>
            </div>
            <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>