<a name="anchrates"></a>
<table class="table table-striped pretty">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('title') %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @engagement_models.each do |item| %>
    <tr>
      <td class="vert-align" width="1%" scope="row"><%= item.id %></td>
      <td class="vert-align">

        <a data-toggle="modal" data-target="#wmodal<%= item.id %>">
          <%= item.title %>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="wmodal<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="wmodal<%= item.id %>_title" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <%= form_for item, :remote => true do |f| %>
              <%= hidden_field_tag :page, (params.has_key?(:page) && params[:page] != '' ? params[:page] : "1") %>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="wmodal<%= item.id %>_title"><%= t('position') %></h4>
              </div>
              <div class="modal-body">
                <fieldset>
                  <div class="form-group<%= f.object.errors[:title].any? ? ' has-error has-feedback' : '' %>">
                    <%= f.text_field :title, class: 'form-control', placeholder: t('technology'), autofocus: true %>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button id="closebtn_<%= item.id %>" type="button" class="btn btn-default" data-dismiss="modal" style="visibility: hidden"></button>
                <%= f.submit t('button_save_changes'), class: "btn btn-primary" %>
              </div>
              <% end %>

            </div>
          </div>
        </div> <!-- / Modal -->

      </td>
      <td width="1%" nowrap>
        <%= button_to engagement_model_path(item), method: :delete, data: { confirm: t('delete_confirm') }, class: "btn btn-default btn-sm", :remote => true  do %>
        <%= hidden_field nil, :engagement_model_id, value: item.id %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="center"><%= will_paginate @engagement_models, :renderer => BootstrapPagination::Rails, :remote => true %></div>