<% provide(:title, t('breadcrumbs.edit')) %>
<h1><%= t('breadcrumbs.edit') %></h1>

<div class="row">
  <div class="span6 offset3">
    <div class="col-md-6" id="estimate_details">

      <%= form_for(@currency) do |f| %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong><%= t('details') %></strong></div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group<%= f.object.errors[:title].any? ? ' has-error has-feedback' : '' %>">
              <%= f.text_field :title, class: 'form-control', placeholder: t('currency'), autofocus: true %>
            </div>
            <div class="form-group<%= f.object.errors[:code].any? ? ' has-error has-feedback' : '' %>">
              <%= f.text_field :code, class: 'form-control', placeholder: t('code'), autofocus: true %>
            </div>
            <div class="form-group<%= f.object.errors[:symbol].any? ? ' has-error has-feedback' : '' %>">
              <%= f.text_field :symbol, class: 'form-control', placeholder: t('symbol'), autofocus: true %>
            </div>
            <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
          </fieldset>
        </div>
      </div>
      <% end %>

    </div>
  </div>
  <div class="span6 offset3">
    <div class="col-md-6">

      <%= form_for @currency, :url => update_rates_currency_path, :id => params[:id], :method => 'POST' do |f| %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong><%= t('exchange_rates') %></strong></div>
        <div class="panel-body">

          <% @currencies_exchange.each do |rate| %>
          <div class="form-group<%= flash[rate.to_currency_id] != nil ? ' has-error has-feedback' : '' %>">
            <div class="input-group">
              <div class="input-group-addon"><%= Currency.find_by(:id => rate.to_currency_id).code %></div>
              <%= f.number_field :rate, :step => 'any', class: 'form-control', placeholder: t('value'), :value => rate.rate, :name => 'rates[' + rate.to_currency_id.to_s + ']' %>
            </div>
          </div>
          <% end %>
          <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>

        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>