  <table class="table table-striped" style="margin-bottom: 0px;">
    <thead>
      <tr>
        <th><%= t('id') %></th>
        <th><%= t('name') %></th>
        <th><%= t('position') %></th>
        <th><%= t('username') %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td scope="row" class="vert-align"><%= user.id %></td>
        <td class="vert-align"><%= user.first_name %> <%= user.last_name %></td>
        <td class="vert-align"><strong><%= user.position.title %></strong> @ <%= user.technology.title %></td>
        <td class="vert-align"><%= link_to user.username, user %></td>
        <td width="1%" nowrap>
          <% if user.id != current_user.id %>
          <%= button_to user, method: :delete, data: { confirm: t('delete_confirm') }, class: "btn btn-default btn-sm", :remote => true do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>