<% provide(:title, t('users')) %>
<h1><%= t('users') %></h1>

<div class="panel">
  <button type="button" class="btn btn-default" aria-label="Left Align">
    <%= link_to t('create_user'), new_user_path, :class => "btn" %>
  </button>
</div>

<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <th><%= t('id') %></th>
        <th><%= t('client') %></th>
        <th><%= t('position') %></th>
        <th><%= t('username') %></th>
        <th><%= t('name') %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td scope="row" class="vert-align"><%= user.id %></td>
        <td class="vert-align"><%= Client.find_by(:id => user.client_id).title %></td>
        <td class="vert-align"><%= Position.find_by(:id => user.position_id).title %></td>
        <td class="vert-align"><%= link_to user.username, user %></td>
        <td class="vert-align"><%= user.first_name %> <%= user.last_name %></td>
        <td width="1%" nowrap>
          <% if user.id != current_user.id %>
          <%= button_to user, method: :delete, data: { confirm: t('delete_confirm') }, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @users, :renderer => BootstrapPagination::Rails %>