
                        <div class="form-group">
                          <select class="form-control">
                            <option value="-1" header><%= t('technology') %></option>
                            <% @technology.each do |tech| %>
                              <option value="<%= tech.id %>"><%= tech.title %></option>
                            <% end %>
                          </select>
                        </div>
                        <div class="form-group">
                          <select class="form-control">
                            <option value="-1"><%= t('position') %></option>
                            <% @position.each do |pos| %>
                              <option value="<%= pos.id %>"><%= pos.title %></option>
                            <% end %>
                          </select>
                          </div>