<br />
<a name="anchsections"></a>
<%
if defined? sheet
  obj = sheet
else
  obj = @sheet
end
%>

<% @estimatessection.where(:estimates_sheet_id => obj.id).each do |section, item| %>
<div class="panel panel-primary" id="pnl_section<%= section.id %>">

  <div class="panel-heading">
    <div>
      &nbsp;
      <a data-toggle="modal" data-target="#stitlemodal<%= section.id %>" style="color: #ffffff;">
        <strong id="stitle_<%= section.id %>"><%= section.title %></strong>
      </a>
      &nbsp;&nbsp;&nbsp;

      <!-- Modal -->
      <div class="modal fade" id="stitlemodal<%= section.id %>" tabindex="-1" role="dialog" aria-labelledby="stitlemodal<%= section.id %>_title" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <%= form_for :estimatessection, :url => estimatessection_index_path, :id => params[:id], :remote => true do |f| %>
            <%= f.hidden_field :section_id, value: section.id %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="stitlemodal<%= section.id %>_title" style="color: #000;"><%= t('section') %></h4>
            </div>
            <div class="modal-body">
              <fieldset>
                <div class="form-group">
                  <%= f.text_field :title, class: 'form-control', placeholder: t('title'), autofocus: true, value: section.title %>
                </div>
              </fieldset>
            </div>
            <div class="modal-footer">
              <button id="st_closebtn_<%= section.id %>" type="button" class="btn btn-default" data-dismiss="modal" style="visibility: hidden"></button>
              <%= f.submit t('button_save_changes'), class: "btn btn-primary" %>
            </div>
            <% end %>

          </div>
        </div>
      </div> <!-- / Modal -->

      <div class="btn-group" style="padding-bottom: 4px">

        <%= button_to item, method: :delete, data: { confirm: t('delete_confirm') }, class: "btn btn-danger", :remote => true  do %>
          <span class="btn-danger"><%= t('delete') %></span>
        <% end %>
      </div>

      <div style="float: right">
        <%= form_for :esection_technology do |f| %>
        <div class="form-group">
        <%=
          f.collection_select(:tid, 
            Technology.all.order("title ASC"), :id, :title,
            {:include_blank => t('dashes') + ' ' + t('technology')},
            {:data => { :remote => true,
                        :url => url_for(:controller => "estimatessection", 
                                        :action => "show",
                                        "id" => section.id)
                      },
             class: 'form-control'
            }
          )
        %>
        </div>
        <% end %>
      </div>

    </div>
  </div>

  <div id="grid-estimatelines<%= section.id %>">
  <%= render  :partial => 'estimatessection/section_lines',
              :locals => {
                :eitem_section_id => section.id,
                :eitem_sheet_id => sheet.id,
              } %>
  </div>

</div>
<% end %>