<% provide(:title, t('edit')) %>
<h1><%= t('edit') %></h1>

<div class="row">
    <div class="span6 offset3">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-body">
                    <%= form_for(@client) do |f| %>
                    <%= render 'shared/error_messages', object: f.object %>
                    <fieldset>
                        <div class="form-group">
                            <%= f.text_field :title, class: 'form-control', placeholder: t('client'), autofocus: true %>
                        </div>

                        <div class="form-group">
                            <%= f.email_field :email, class: 'form-control', placeholder: t('email') %>
                        </div>

                        <div class="form-group">
                            <%= f.text_field :url, class: 'form-control', placeholder: t('url') %>
                        </div>

                        <div class="form-group">
                            <%= f.text_field :phone, class: 'form-control', placeholder: t('phone') %>
                        </div>

                        <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
                    </fieldset>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>