<% provide(:title, t('clients')) %>
<h1><%= t('clients') %></h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group">

      <div class="input-group-btn">
        <button type="button" class="btn btn-primary" aria-label="Left Align">
          <a class="btn-primary" data-toggle="modal" data-target="#wmodal0"><%= t('create_client') %></a>
        </button>
      </div>

      <div class="form-group">
        <%= form_for_filterrific @filterrific do |f| %>
          <%= f.text_field(:search_query, class: 'form-control filterrific-periodically-observed', placeholder: t('search')) %>
        <% end %>
      </div>

    </div>
  </div>
  <div id="clients-list">
    <%= render partial: 'clients/list', locals: { clients: @clients } %>
  </div>
</div>

<div class="center"><%= will_paginate @clients, :renderer => BootstrapPagination::Rails, :remote => true %></div>

<!-- Modal -->
<div class="modal fade" id="wmodal0" tabindex="-1" role="dialog" aria-labelledby="wmodal0_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for @client, :remote => true do |f| %>
      <%= hidden_field_tag :page, (params.has_key?(:page) && params[:page] != '' ? params[:page] : "1") %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="wmodal0_title"><%= t('currency') %></h4>
      </div>
      <div class="modal-body">
        <fieldset>
          <div class="form-group<%= f.object.errors[:title].any? ? ' has-error has-feedback' : '' %>">
            <%= f.text_field :title, class: 'form-control', placeholder: t('client'), autofocus: true %>
          </div>
          <div class="form-group">
            <%= f.email_field :email, class: 'form-control', placeholder: t('email') %>
          </div>
          <div class="form-group">
            <%= f.text_field :url, class: 'form-control', placeholder: t('url') %>
          </div>
          <div class="form-group">
            <%= f.text_field :phone, class: 'form-control', placeholder: t('phone') %>
          </div>
        </fieldset>
      </div>
      <div class="modal-footer">
        <button id="closebtn_0" type="button" class="btn btn-default" data-dismiss="modal" style="visibility: hidden"></button>
        <br />
        <%= f.submit t('button_save_changes'), class: "btn btn-primary" %>
      </div>
      <% end %>

    </div>
  </div>
</div> <!-- / Modal -->