  <table class="table" style="margin-bottom: 0px;">
    <thead>
      <tr>
        <th><%= t('id') %></th>
        <th><%= t('client') %></th>
        <th><%= t('title') %></th>
        <th><%= t('status') %></th>
        <th><%= t('account_manager') %></th>
        <th><%= t('production_manager') %></th>
        <th><%= t('project_owner') %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
      <tr>
        <td scope="row" class="vert-align"><%= project.id %></td>
        <td class="vert-align"><%= Client.find_by(:id => project.client_id).title %></td>
        <td class="vert-align"><%= link_to project.title, project %></td>
        <td class="vert-align"><%= ProjectStatus.find_by(:id => project.project_status_id).title %></td>
        <td class="vert-align"><a href="mailto:<%= project.account_manager_email %>"><%= project.account_manager_name %></a></td>
        <td class="vert-align"><a href="mailto:<%= project.production_manager_email %>"><%= project.production_manager_name %></a></td>
        <td class="vert-align">
          <a href="mailto:<%= project.project_owner_email %>"><%= project.project_owner_name %></a>
        </td>
        <td width="1%" nowrap>
          <%= button_to project, method: :delete, data: { confirm: t('delete_confirm') }, class: "btn btn-default btn-sm", :remote => true do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>