<% provide(:title, t('projects')) %>
<h1><%= t('projects') %></h1>

<div class="panel">
  <button type="button" class="btn btn-default" aria-label="Left Align">
    <%= link_to t('create_project'), new_project_path, :class => "btn" %>
  </button>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <br />
    <div class="form-group">
      <%= form_tag :url => projects_path do |f| %>
        <%= autocomplete_field 'ac_search_project', '', autocomplete_project_title_projects_path(:format => :json), { class: 'form-control', autofocus: true, placeholder: t('search') } %>
      <% end %>
    </div>
  </div>
  <div id="projects-list">
    <%= render partial: 'projects/list', locals: { projects: @projects } %>
  </div>
</div>

<%= will_paginate @projects, :renderer => BootstrapPagination::Rails %>