<% provide(:title, t('projects')) %>
<h1><%= t('projects') %></h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-primary" aria-label="Left Align">
          <%= link_to t('create_project'), new_project_path, :class => "btn-primary" %>
        </button>
      </div>
      <div class="form-group">
        <%= form_for_filterrific @filterrific do |f| %>
          <%= f.text_field(:search_query, class: 'form-control filterrific-periodically-observed', placeholder: t('search')) %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="projects-list">
    <%= render partial: 'projects/list', locals: { projects: @projects } %>
  </div>
</div>