<%
curr = Currency.find(@rate.currency_id)
currency_symbol = curr.symbol
currency_code = curr.code
%>
<% rates_prices = RatesPrice.where(:rate_id => rate_id, :engagement_model_id => engagement_model_id).order("technology_id ASC, position_id ASC") %>
<a name="anchratesprices"></a>
<table class="table table-striped pretty">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('technology') %></th>
      <th><%= t('profile') %></th>
      <th nowrap><%= t('daily_rate') %></th>
      <th nowrap><%= t('hourly_rate') %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% rates_prices.each do |item| %>
    <tr>
      <td class="vert-align" width="1%" scope="row"><%= item.id %></td>
      <td class="vert-align" width="1%" nowrap><%= Technology.find(item.technology_id).title %></td>
      <td class="vert-align">

        <a data-toggle="modal" data-target="#rpmodal<%= item.id %>">
          <%= item.position.title %>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="rpmodal<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="rpmodal<%= item.id %>_title" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <%= form_for item, :url => rates_prices_update_path, :id => item.id, :remote => true do |f| %>
              <%= f.hidden_field :rate_id, value: rate_id %>
              <%= f.hidden_field :engagement_model_id, value: engagement_model_id %>
              <%= f.hidden_field :rate_price_id, value: item.id %>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="rpmodal<%= item.id %>_title"><%= t('rate_price') %></h4>
              </div>
              <div class="modal-body">
                <fieldset>
                  <div class="form-group">
                    <%= f.collection_select :engagement_model_id, @engagement_models, :id, :title, {:include_blank => t('dashes') + ' ' + t('engagement_model')}, {:class => 'form-control'} %>
                  </div>
                  <div class="form-group">
                    <%= f.collection_select :technology_id, @technology, :id, :title, {:include_blank => t('dashes') + ' ' + t('technology')}, {:class => 'form-control'} %>
                  </div>
                  <div class="form-group">
                    <%= f.collection_select :position_id, @positions, :id, :title, {:include_blank => t('dashes') + ' ' + t('profile')}, {:class => 'form-control'} %>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><%= currency_code %></div>
                      <%= f.number_field :daily_rate, :step => 'any', class: 'form-control', placeholder: t('daily_rate') %>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><%= currency_code %></div>
                      <%= f.number_field :hourly_rate, :step => 'any', class: 'form-control', placeholder: t('hourly_rate') %>
                    </div>
                  </div>

                </fieldset>
              </div>
              <div class="modal-footer">
                <button id="closebtn_<%= item.id %>" type="button" class="btn btn-default" data-dismiss="modal" style="visibility: hidden"></button>
                <%= f.submit t('button_save_changes'), class: "btn btn-primary" %>
              </div>
              <% end %>

            </div>
          </div>
        </div> <!-- / Modal -->
        
      </td>
      <td class="vert-align center" width="1%" nowrap><%= item.daily_rate.to_s + ' ' + currency_symbol %></td>
      <td class="vert-align center" width="1%" nowrap><%= item.hourly_rate.to_s + ' ' + currency_symbol %></td>
      <td width="1%" nowrap>
        <%= button_to rates_price_path(item), method: :delete, data: { confirm: t('delete_confirm') }, class: "btn btn-default btn-sm", :remote => true do %>
          <%= hidden_field :rp, :rate_price_id, value: item.id %>
          <%= hidden_field :rp, :engagement_model_id, value: engagement_model_id %>
          <%= hidden_field :rp, :rate_id, value: rate_id %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
