<a name="listanch"></a>
<table class="table table-striped pretty">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th><%= "#" %></th>
      <th><%= t('complexity') %></th>
      <th><%= t('line') %></th>
      <th><%= t('hours_min') %></th>
      <th><%= t('hours_max') %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @estimatesline.each do |eitem| %>
    <tr>
      <td width="1%" nowrap>
        <% if eitem != @estimatesline.first %>
          <%= link_to moveup_estimatesline_path(eitem), :remote => true, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
          <% end %>
        <% end %>
      </td>
      <td width="1%" nowrap>
        <% if eitem != @estimatesline.last %>
          <%= link_to movedown_estimatesline_path(eitem), :remote => true, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
          <% end %>
        <% end %>
      </td>
      <td class="col-md-1 vert-align" scope="row"><%= eitem.line_number %></td>
      <td class="col-md-1 vert-align"><%= eitem.complexity %></td>
      <td class="col-md-3 vert-align"><%= eitem.line %></td>
      <td class="col-md-1 vert-align"><%= eitem.hours_min %></td>
      <td class="col-md-1 vert-align"><%= eitem.hours_max %></td>
      <td width="1%" nowrap>
        <%= button_to :estimatesline, method: :delete, data: { confirm: t('delete_confirm') }, class: "btn btn-default btn-sm" do %>
        <%= hidden_field nil, :line_id, value: eitem.id %>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        <% end %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td colspan="8"><em><%= t('reordering_needs_line_number') %></em></td>
    </tr>
  </tbody>
</table>