  <table class="table table-striped" style="margin-bottom: 0px;">
    <thead>
      <tr>
        <th><%= t('id') %></th>
        <th><%= t('title') %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @technologies.each do |item| %>
      <tr>
        <td width="2%" scope="row" class="vert-align"><%= item.id %></td>
        <td class="vert-align">

          <a data-toggle="modal" data-target="#wmodal<%= item.id %>">
            <%= item.title %>
          </a>

          <!-- Modal -->
          <div class="modal fade" id="wmodal<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="wmodal<%= item.id %>_title" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <%= form_for item, :remote => true do |f| %>
                <%= hidden_field_tag :page, params[:page] %>
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="wmodal<%= item.id %>_title"><%= t('position') %></h4>
                </div>
                <div class="modal-body">
                  <fieldset>
                    <div class="form-group<%= f.object.errors[:title].any? ? ' has-error has-feedback' : '' %>">
                      <%= f.text_field :title, class: 'form-control', placeholder: t('technology'), autofocus: true %>
                    </div>
                    <div class="form-group">
                      <div class="input-group technology_style">
                        <%= f.text_field :style, class: 'form-control', placeholder: t('style') %>
                        <span class="input-group-addon"><i></i></span>
                      </div>
                      <script>
                        $(function(){
                          $('.technology_style').colorpicker();
                        });
                      </script>
                    </div>
                  </fieldset>
                </div>
                <div class="modal-footer">
                  <button id="closebtn_<%= item.id %>" type="button" class="btn btn-default" data-dismiss="modal" style="visibility: hidden"></button>
                  <%= f.submit t('button_save_changes'), class: "btn btn-primary" %>
                </div>
                <% end %>

              </div>
            </div>
          </div> <!-- / Modal -->

        </td>
        <td width="1%" nowrap>
          <%= button_to item, method: :delete, data: { confirm: t('delete_confirm') }, class: "btn btn-default btn-sm", :remote => true do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="center"><%= will_paginate @technologies, :renderer => BootstrapPagination::Rails, :remote => true %></div>