<link rel="stylesheet" media="all" href="/stylesheets/bootstrap-gtreetable.css" data-turbolinks-track="true" />
<script src="/javascripts/bootstrap-gtreetable.js"></script>

<table class="table gtreetable" id="techtreetbl"><thead><tr><th><%= t('technology') %></th></tr></thead></table>

<script>
$(function() {
  jQuery('#techtreetbl').gtreetable({
    'source': function(id) {
      return {
        type: 'GET',
        url: 'techtreegrid',
        data: { 'id': id },
        dataType: 'json',
        error: function(XMLHttpRequest) {
          alert(XMLHttpRequest.status + ': ' + XMLHttpRequest.responseText);
        }
      }
    },
    selectLimit: 0,
    defaultActions: null,
    actions: [
      {
        name: '${update}',
        event: function (oNode, oManager) {
          oNode.makeEditable();
        }
      },
      {
        name: '${delete}',
        event: function (oNode, oManager) {
          if (confirm(oManager.language.messages.onDelete)) {
            oNode.remove();
          }
        }
      },
      {
          divider: true
      },
      {
        name: '${createAfter}',
        event: function (oNode, oManager) {
          oNode.add('after', 'default');
        }
      },
      {
        name: '${createFirstChild}',
        event: function (oNode, oManager) {
          oNode.add('firstChild', 'default');
        }
      },
    ],
    languages: {
      'en-US': {
        save: "<%= t('button_save') %>",
        cancel: "<%= t('button_cancel') %>",
        action: "<%= t('button_action') %>",
        actions: {
          createAfter: "<%= t('button_create_after') %>",
          createFirstChild: "<%= t('button_create_first_child') %>",
          update: "<%= t('button_update') %>",
          'delete': "<%= t('delete') %>"
        },
        messages: {
          onDelete: "<%= t('delete_confirm') %>",
        }                
      }
    },
    'onSave': function(oNode) {
      return {
        type: 'POST',
        url: !oNode.isSaved() ? '/technologies/createtechnode' : '/technologies/updatetechnode?tid=' + oNode.getId(),
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {
          id: oNode.getId(),
          parent: oNode.getParent(),
          name: oNode.getName(),
          position: oNode.getInsertPosition(),
          related: oNode.getRelatedNodeId()
        },
        dataType: 'json',
        error: function(XMLHttpRequest) {
          alert(XMLHttpRequest.status + ': ' + XMLHttpRequest.responseText);
        }
      };
    },
    'onDelete': function(oNode) {
      return {
        type: 'GET',
        url: "/technologies/deletetechnode?tid=" + oNode.getId(),
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        dataType: 'json',
        error: function(XMLHttpRequest) {
          alert(XMLHttpRequest.status + ': ' + XMLHttpRequest.responseText);
        }
      };
    }
  });
});
</script>
