<% provide(:title, t('breadcrumbs.edit')) %>
<h1><%= t('breadcrumbs.edit') %></h1>

<div class="row">
  <div class="span6 offset3">
    <div class="col-md-6">

      <%= form_for(@rate, :remote => true) do |f| %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong><%= t('details') %></strong></div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group<%= f.object.errors[:title].any? ? ' has-error has-feedback' : '' %>">
              <%= f.text_field :title, class: 'form-control', placeholder: t('title'), autofocus: true %>
            </div>
            <div class="form-group">
              <%= f.collection_select :currency_id, @currencies, :id, :title, {:include_blank => t('dashes') + ' ' + t('currency')}, {:class => 'form-control'} %>
            </div>
            <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
          </fieldset>
        </div>
      </div>
      <% end %>

    </div>
  </div>
  <div class="span6 offset3">
    <div class="col-md-6">

      <%= form_for :rates_price, :url => rates_prices_path, :remote => true do |f| %>
      <%= f.hidden_field :rate_id, value: params[:id] %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong><%= t('rate_price') %></strong></div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <%= f.collection_select :engagement_model_id, @engagement_models, :id, :title, {:include_blank => t('dashes') + ' ' + t('engagement_model')}, {:class => 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.select :technology_id, options_for_select(@technology.collect { |tech| [tech.title, tech.id] }, 1), {}, { id: 'technologies_select', :class => 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.select :position_id, options_for_select(@positions.where(:technology_id => @technology.first.id).collect { |pos| [pos.title, pos.id] }, 0), {:include_blank => t('all')}, { id: 'positions_select', :class => 'form-control'} %>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon" id="rp_daily_rate"><%= Currency.find(@rate.currency_id).code %></div>
                <%= f.number_field :daily_rate, :step => 'any', class: 'form-control', placeholder: t('daily_rate') %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon" id="rp_hourly_rate"><%= Currency.find(@rate.currency_id).code %></div>
                <%= f.number_field :hourly_rate, :step => 'any', class: 'form-control', placeholder: t('hourly_rate') %>
              </div>
            </div>

            <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
          </fieldset>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>

<br />

<div id="ratesprices-list">
  <%= render :partial => 'rates_prices/list', :locals => { :rate_id => @rate.id } %>
</div>
