<% provide(:title, t('breadcrumbs.new')) %>
<h1><%= t('breadcrumbs.new') %></h1>

<%= form_for(@rate) do |f| %>
<div class="row">
  <div class="span6 offset3">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading"><strong><%= t('details') %></strong></div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group<%= f.object.errors[:title].any? ? ' has-error has-feedback' : '' %>">
              <%= f.text_field :title, class: 'form-control', placeholder: t('title'), autofocus: true %>
            </div>
            <div class="form-group">
              <%= f.collection_select :currency_id, @currencies, :id, :title, {:include_blank => t('dashes') + ' ' + t('currency')}, {:class => 'form-control'} %>
            </div>
            <%= f.submit t('button_save_changes'), class: "btn btn-lg btn-success btn-block" %>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>