<!-- app/views/shared/_header.html.erb -->

<header class="navbar navbar-fixed-top navbar-inverse">
  <nav class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <% if signed_in? %>
        <%= link_to t('app_name'), :dashboard, class: 'navbar-brand' %>
        <% else %>
        <a class="navbar-brand" href="/"><%= t('app_name') %></a>
        <% end %>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <% unless signed_in? %>
        <li><%= link_to t('sign_up'), signup_path, class: "btn btn-large" %></li>
        <% else %>
          Welcome <%= current_user.first_name %>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('menu') %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if signed_in? %>
              <li><%= link_to t('dashboard'), :dashboard %></li>
              <li class="divider"></li>
              <li><%= link_to t('clients'), :clients %></li>
              <li><%= link_to t('projects'), :projects %></li>
              <li><%= link_to t('estimates'), :estimates %></li>
              <li><%= link_to t('users'), :users %></li>
              <li><%= link_to t('rates'), :rates %></li>
              <li><%= link_to t('collections'), :collections %></li>
              <li class="divider"></li>
              <li><%= link_to t('profile'), edit_user_path(current_user) %></li>
              <li><%= link_to t('logout'), logout_path, method: "delete" %></li>
              <li class="divider"></li>
            <% end %>
            <li><%= link_to t('language_english'), url_for( :locale => 'en' ) %></li>
            <li><%= link_to t('language_bulgarian'), url_for( :locale => 'bg' ) %></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>