<!-- app/views/shared/_header.html.erb -->

<header class="navbar navbar-fixed-top navbar-inverse">
  <nav class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><%= t('app_name') %></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <% unless signed_in? %>
        <li><%= link_to t('sign_up'), signup_path, class: "btn btn-large" %></li>
        <% else %>
          Welcome <%= current_user.first_name %>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('menu') %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if signed_in? %>
              <li><%= link_to t('profile'), edit_user_path(current_user) %></li>
              <li><%= link_to t('logout'), logout_path, method: "delete" %></li>
              <li class="divider"></li>
            <% end %>
            <li><a href="http://resmanager.stanga.net">ResManager</a></li>
            <li><a href="http://redmine.stanga.net">Redmine</a></li>
            <li class="divider"></li>
            <li><a href="/?locale=en"><%= t('language_english') %></a></li>
            <li><a href="/?locale=bg"><%= t('language_bulgarian') %></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>