<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src="/javascripts/jquery-2.1.3.min.js"></script>
    <script src="/javascripts/jquery-ui-1.8.2.custom.min.js"></script>
    <script src="/javascripts/autocomplete-rails.js"></script>
    <link rel="stylesheet" media="all" href="/stylesheets/jquery-ui-1.8.2.custom.css" data-turbolinks-track="true" />
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">

      <% if signed_in? %>
      <ul class="breadcrumb">
        <%= render_breadcrumbs :separator => '<span class="divider">/</span>' %>
      </ul>
      <% end %>

      <% flash.each do |key, value| %>
        <% if key == 'error' %>
        <div class="alert alert-danger alert-success">
          <strong><%= t('error_exclamation') %></strong> <%= value %>
        </div>
        <% else %>
        <div class="alert alert-success"><%= value %></div>
        <% end %>
      <% end %>

      <%= yield %>

      <%= render 'layouts/footer' %>

      <%= debug(params) if Rails.env.development? %>

    </div>
  </body>
</html>